<div class="col-md-3 menu">
  <ul>
    <li><a href="#">About SSG</a>
        <ul>
            <li><a href="#">Profile</a></li>
            <li><a href="#">History</a></li>
            <li><a href="#">Company Concepition</a></li>
            <li><a href="#">Vision</a></li>
            <li><a href="#">Business Group</a></li>
              <ul>
                  <li><a href="#">SAS</a></li>
                  <li><a href="#">GWC</a></li>
                  <li><a href="#">SST</a></li>
                  <li><a href="#">aleo</a></li>
              </ul>
            <li><a href="#">Remarkable Performance</a></li>
        </ul>    
    </li>

    <li><a href="#">Product Category</a>
        <ul>
            <li><a href="#">Semiconductor</a></li>
            <li><a href="#">Solar</a></li>
            <li><a href="#">Sapphire</a></li>
        </ul>    
    </li>

    <li><a href="#">Q&A</a>
        <ul>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ul>    
    </li>

    <li>
        <ul><a href="#">Service</a>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <ul>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
        </ul>    
    </li>
  </ul>
</div>